{% extends "base.html.twig" %}
{% block title %}
  {{ 'One picture page' }}
{% endblock %}

{% block body %}

  {% if picture is defined %}

    <div class="single-picture-wrapper">
      <div class="picture"><img src="{{ picture.getPicture }}"
                                alt="{{ picture.description }}">
        <div class="single-picture-description">{{ picture.description }}</div>
      </div>
    </div>

  {% else %}

    <div class="error-wrapper">
      <div class="error-message">
        <div class="alert alert-danger"
             role="alert">{{ 'Theris no such picture in our gallery' }}</div>
      </div>
      <a href="{{ path('signin') }}">
        <button type="submit" class="btn-default btn error-btn">Back to main
        </button>
      </a>
    </div>

  {% endif %}

{% endblock %}
