{% extends "base.html.twig" %}
{% block title %}
  {{ 'Picture' }}
{% endblock %}
{% block body %}

  {% if picture is defined %}

    <div class="single-picture-wrapper">
      <div class="picture"><img src="{{ picture.getPicture }}"
                                alt="{{ picture.description }}">
        <div class="single-picture-description">{{ picture.description }}</div>
      </div>

      {% if form is defined %}
        <div class="form-update-wrapper">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}

          <a href="{{ path('removePicture', {'id': picture.id }) }}">
            <button class="btn-danger btn remove-picture">Remove pircture
            </button>
          </a>
        </div>
      {% endif %}
    </div>

  {% else %}

    <div class="error-wrapper">
      <div class="error-message">
        <div class="alert alert-danger"
             role="alert">{{ 'Theris no such picture in our gallery' }}</div>
      </div>
      <a href="{{ path('signin') }}">
        <button type="submit" class="btn-default btn error-btn">Back to main
        </button>
      </a>
    </div>

  {% endif %}

{% endblock %}
