<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href= {{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}>
    <link rel="stylesheet" href="{{ asset('assets/custom/css/styles.css') }}">
  {% endblock %}
</head>
<body>
{% block header %}
  {{ render(controller('AppBundle:Gallery:header')) }}
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
