body {
  /*background-image: url("/assets/custom/images/stardust.png");*/
  background-color: #1C1C1C;
  margin: 0;

}

/*
================================================================================
forms
================================================================================
*/

.form-sign-in-wrapper, .form-registration-wrapper, .form-upload-wrapper, .error-wrapper {

  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);

  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  height: auto;
  left: 50%;

  margin-left: -250px;
  margin-top: -175px;
  padding: 65px;

  position: fixed;
  top: 50%;

  width: 500px;
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
}

.form-sign-in-wrapper input, .form-registration-wrapper input, .form-upload-wrapper input[type="text"] {
  background-color: rgb(250, 255, 189);
  font-size: 18px;
  font-weight: 400;
  height: 40px;

}

.form-sign-in-wrapper label, .form-registration-wrapper label, .form-upload-wrapper label, .form-update-wrapper label {
  display: none;
}

.form-sign-in-wrapper button, a.button, .form-registration-wrapper button, .form-upload-wrapper button, button.error-btn {
  background-color: #009CFC;;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

button.create-new-account {
  background-color: #265A88;
  margin-top: 0;
}

.form-upload-wrapper input[type="file"] {
  color: #777;
}

.form-update-wrapper {
  height: auto;
  margin: auto;
  max-width: 300px;
}

.form-update-wrapper input {
  background-color: rgb(250, 255, 189);
  height: 25px;
}

.form-update-wrapper button {
  background-color: #265A88;
  border: none;
  color: #FFF;
  display: inline-block;
  height: 25px;
  padding: 3px;
  width: 100%;
}

button.remove-picture {
  background-color: #A33;
}

/*
================================================================================
gallery
================================================================================
*/

.gallery-wrapper {
  height: 100%;
  margin: 0;
  margin-top: 65px;
  width: 100%;

}

.gallery-wrapper div.picture {
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
  float: left;
  padding: 3%;
  text-align: center;
  width: 33.3333333333%;
}

div.picture img {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);

  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  height: 200px;
  width: 365px;
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
}

div.picture img:hover {
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);

  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  height: 200px;
  width: 365px;

  -o-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
}

.picture-description {
  color: #555;
  margin-top: 20px;
}

.gallery-header {
  background: #1C1C1C;;
  border-bottom: 1px solid #333;
  height: 65px;
  left: 0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

.gallery-header-logo {
  color: #FFF;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 10%;
}

.gallery-header-menu {
  display: inline-block;
  text-align: right;
  width: 89%;
}

.gallery-header-menu a {
  border-left: 10px solid #333;
  border-right: 10px solid #333;
  color: #777;
  font-size: 20px;
  font-variant: small-caps;
  margin-left: 20px;
  padding: 5px 15px 5px 15px;;
}

.gallery-header-menu a:hover {
  color: #FFF;
  text-decoration: none;
}

/*
================================================================================
single picture page
================================================================================
*/

.single-picture-wrapper {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);

  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  left: 50%;
  margin-left: -550px;

  margin-top: -400px;
  max-height: 1000px;
  max-width: 1200px;

  padding: 65px;
  position: fixed;

  top: 50%;
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
}

.single-picture-wrapper div.picture img {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);

  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
  height: 500px;
  width: 1000px;
  -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 1);
}

.single-picture-description {
  color: #999;
  font-size: 20px;;
  font-weight: 400;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

/*
================================================================================
pagination
================================================================================
*/

.pagination {
  width:100%;
  text-align: center;
  padding: 10px;
  color: #666;
  font-size: 20px;
  word-spacing: 6px;
  letter-spacing: 1px;
}

.pagination ul {
  list-style: none;
}

.pagination li {
  display: inline-block;
}

.pagination li a {
  color: #666;
  text-decoration: none;
}

.pagination li a:hover, .pagination li a.active {
  color: #fff;
}


