{% extends "base.html.twig" %}
{% block title %}
  {{ 'Welcome to our gallery' }}
{% endblock %}

{% block body %}

  <div class="form-sign-in-wrapper">
    {% if error is defined %}
      {% if error == true %}
        <div class="alert alert-danger"
             role="alert">{{ 'Wrong login or password. Please, try again' }}</div>
      {% endif %}
    {% endif %}

    {% if form is defined %}
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
      <a href="{{path('registration') }}"><button type="submit" class="btn-default btn create-new-account">Create new
          account
        </button></a>

    {% endif %}


  </div>
{% endblock %}
