{% extends "base.html.twig" %}
{% block title %}
  {{ 'Gallery' }}
{% endblock %}

{% block body %}
  {% if pictures is defined %}

    <div class="gallery-wrapper">
      {% for picture in pictures %}
        <div class="picture"><a
            href="{{ path('picture', {'id': picture.id}) }}"><img
              src="{{ picture.getPicture }}"
              alt="{{ picture.description }}"></a>
          <div class="picture-description">{{ picture.description }}</div>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <div class="error-wrapper">
      <div class="error-message">
        <div class="alert alert-danger"
             role="alert">{{ 'Theris no pictures in our gallery' }}</div>
      </div>
      <a href="{{ path('signin') }}">
        <button type="submit" class="btn-default btn error-btn">Back to main
        </button>
      </a>
    </div>
  {% endif %}
  {{ include('pagination/pagination.html.twig') }}
{% endblock %}
