{% extends "base.html.twig" %}
{% block title %}
  {{ 'Upload new picture' }}
{% endblock %}
{% block body %}
  <div class="form-upload-wrapper">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
