{% extends "base.html.twig" %}
{% block title %}
  {{ 'Access denied' }}
{% endblock %}
{% block body %}
  <div class="error-wrapper">
    <div class="error-message">
      <div class="alert alert-danger"
           role="alert">{{ 'Sory, but you don have permission to view this page' }}</div>
    </div>
    <a href="{{path('signin') }}"><button type="submit" class="btn-default btn error-btn">Back to main
      </button></a>
  </div>


{% endblock %}
