{% extends "base.html.twig" %}
{% block title %}
  {{ 'Page not found' }}
{% endblock %}
{% block body %}
  <div class="error-wrapper">
    <div class="error-message">
      <div class="alert alert-danger"
           role="alert">{{'The requested page cannot be found'}}</div>
    </div>
    <a href="{{path('signin') }}"><button type="submit" class="btn-default btn error-btn">Back to main
      </button></a>
  </div>
{% endblock %}
