{% if pagination.output is defined %}

  <div class="pagination">

    <ul>
      <li><a href="{{ path('gallery', {'id': 1}) }}">first</a></li>


      {% for page in pagination.output %}

        {% if pagination.currentPage == page %}
          <li><a href="{{ path('gallery', {'id': page}) }}"
                 class="active">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ path('gallery', {'id': page}) }}">{{ page }}</a></li>
        {% endif %}

      {% endfor %}

      <li><a
          href="{{ path('gallery', {'id': pagination.totalPages}) }}">last</a>
      </li>
    </ul>

  </div>
{% endif %}
