{% extends "base.html.twig" %}
{% block title %}
  {{ 'Create new account' }}
{% endblock %}
{% block body %}


  <div class="form-registration-wrapper">
    {% if registred is defined %}

      <div
        class="alert alert-success">{{ 'Congratulations ! Your account was created. Now you can sign in using your login and password' }}</div>
      <a href="{{ path('signin') }}">
        <button type="submit" class="btn-default btn create-new-account">Sign in
        </button>
      </a>

    {% else %}

      {% if loginUnavailableError is defined %}
        <div class="alert alert-danger"
             role="alert">{{ 'Sorry, but this login is used by another existing user. Please, take another one' }}</div>
      {% endif %}

      {% if passwordMatchError is defined %}
        <div class="alert alert-danger"
             role="alert">{{ 'Your passwords are not the same. Please, try again' }}</div>
      {% endif %}

      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}

    {% endif %}


  </div>

{% endblock %}
