{% extends "base.html.twig" %}
{% block header %}

  {#logo#}
  <div class="gallery-header">
    <div class="gallery-header-logo">
      {{ 'Gallery' }}
    </div>

  {#menu#}
    <div class="gallery-header-menu">
      <a href="/">home</a>

      {#check if logged in#}
      {% if role is defined %}
        <a href="{{ path('gallery') }}">gallery</a>
        {% if role == 'admin' %}
          <a href="{{ path('addNewPicture') }}">upload more pictures</a>
        {% endif %}
        {% if role != null %}
          <a href="{{ path('logout') }}">logout</a>
        {% endif %}
      {% endif %}

    </div>
  </div>
{% endblock %}

